body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
  background-color: #222;
  margin: 0;
  padding: 1rem;
}
h1,
h2,
p {
  color: #eee;
}
.award {
  padding-bottom: 1rem;
  border-bottom: 0.5rem dashed #eee;
}
.nominees {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style: none;
  padding: 0;
}
@media (max-width: 800px) {
  .nominees {
    grid-template-columns: 1fr 1fr;
  }
}
.nominees > figure {
  background-color: #333;
  border-radius: 0.5rem;
  padding: 1rem;
  color: #ccc;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
}
.nominees > figure label {
  display: block;
  padding: 0.25rem;
  background-color: #888;
  border-radius: 1rem;
  margin-bottom: 1rem;
  color: #222;
}
.nominees > figure img {
  display: block;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  width: 100%;
}
h3 {
  margin-top: 0;
  padding-top: 0;
}
h3 a {
  color: #eee;
  text-decoration: none;
}
h3 a:hover {
  color: #fff;
  text-decoration: underline;
}
a {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  color: #eee;
  text-decoration: underline;
}
a + a::before {
  content: ", ";
}
#predictionsList ul {
  list-style: none;
  padding: 0;
  margin: 0 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
#predictionsList li {
  background-color: #333;
  color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}
#predictionsList p {
  color: #888;
  font-style: italic;
}
